@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using pms.app.Models
@using System.Linq.Expressions;

@inject UnitOfWork.IUnitOfWork unitOfWork
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<p>
    <a href="categories/create">Add Category</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>@category.Created</td>
                <td>@category.Updated</td>
                <td>
                    <a href="@($"categories/edit?id={category.Id}")">Edit</a> |
                    <a href="@($"categories/details?id={category.Id}")">Details</a> |
                    <a href="@($"categories/delete?id={category.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Category> Categories { get; set; } = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        // Set up filter
        Expression<Func<Category, bool>> filter = null;

        Func<IQueryable<Category>, IOrderedQueryable<Category>> orderBy = q => q.OrderByDescending(i => i.Created).ThenByDescending(i => i.Updated.HasValue ? i.Updated : DateTime.MinValue);

        // Set up includeProperties
        string includeProperties = "";

        // Set up pagination
        int page = 1;
        int pageSize = 500;

        Categories = await unitOfWork.GetRepository<Category>().GetAllAsync(
            filter,
            orderBy,
            includeProperties,
            page,
            pageSize
        );

    }
}